body {
  background-image: url('https://images.unsplash.com/photo-1442551382982-e59a4efb3c86?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e131e5a1a12b40fca905f81eb90df89d');
  /*background-image: url('https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b09f84e8e8fd58ee91faf817b9f903d7');*/
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.viewsContainer {
  background-color: white;
  border-radius: 50px;
  opacity: 0.9;
}

.headingRow {
  margin-top: 30px;
}

.dataRow {
  margin-bottom: 15px;
}

.imageSize {
  max-width: 100%;
  max-height: 600px;
}

.formSpacing {
  margin-top: 30px;
}

.formBtn {
  margin-top: 15px;
}

.advButtons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.angular-google-map-container { height: 200px;
                                width: 200px; }
input[type=checkbox] {
  display: none;
}

.happy, .sad, .crying, .lazy, .energetic, .drunk, .nervous, .tired, .angry, .sick, .smug {
  height: 30px;
  width: 30px;
  background-size: contain;
  margin: 20px 13px 0px 17px;
}

.happy {
  background-image: url('/app/form/emojis/happy.png');
}

.sad {
  background-image: url('/app/form/emojis/sad.png');
}

.crying {
  background-image: url('/app/form/emojis/crying.png');
}

.lazy {
  background-image: url('/app/form/emojis/lazy.png');
}

.energetic {
  background-image: url('/app/form/emojis/energetic.png');
}

.drunk {
  background-image: url('/app/form/emojis/drunk.png');
}

.nervous{
  background-image: url('/app/form/emojis/nervous.png');
}

.tired {
  background-image: url('/app/form/emojis/tired.png');
}

.angry {
  background-image: url('/app/form/emojis/angry.png');
}

.sick {
  background-image: url('/app/form/emojis/sick.png');
}

.smug{
  background-image: url('/app/form/emojis/smug.png');
}

.emotes {
  margin-top: 23px;
  background: #d3d3d3;
  border-radius: 4px;
}
