body {
  /*background-image: url('https://images.unsplash.com/photo-1442551382982-e59a4efb3c86?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e131e5a1a12b40fca905f81eb90df89d');*/
  background-image: url('https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b09f84e8e8fd58ee91faf817b9f903d7');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.navbar {
  font-family: 'Carter One', cursive;
  font-size: 19px;
  padding-top: 5px
}

.hewPi {
  background-image: url('hewPi.png');
  height: 50px;
  width: 74.3px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: -2px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 25px;
}

.viewsContainer {
  background-color: white;
  border-radius: 50px;
  opacity: 0.9;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#name {
  text-decoration: underline;
}

.details {
  border: 2px solid black;
  cursor: pointer;
}

.details:hover {
  background-color: black;
  color: white;
  transition: background-color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

.details h3 {
  margin: auto;
}

.headingRow {
  margin-top: 30px;
}

.dataRow {
  margin-bottom: 15px;
}

.imageSize {
  max-width: 100%;
  max-height: 600px;
}

.formSpacing {
  margin-top: 30px;
}

.formBtn {
  margin-top: 15px;
}

.advButtons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.angular-google-map-container { height: 200px;
                                width: 200px; }
input[type=checkbox] {
  display: none;
}

/*input[type=checkbox]:checked > label {
  background-color: black;
}*/

.selected {
  border-radius: 50%;
  border: 2px solid black;
}

.happy, .sad, .crying, .lazy, .energetic, .drunk, .nervous, .tired, .angry, .sick, .smug {
  height: 30px;
  width: 30px;
  background-size: contain;
  margin: 20px 13px 0px 17px;
}

.happy:hover, .sad:hover, .crying:hover, .lazy:hover, .energetic:hover, .drunk:hover, .nervous:hover, .tired:hover, .angry:hover, .sick:hover, .smug:hover {
  border: 1px solid black;
}

.happy {
  background-image: url('/app/form/emojis/happy.png');
}

.sad {
  background-image: url('/app/form/emojis/sad.png');
}

.crying {
  background-image: url('/app/form/emojis/crying.png');
}

.lazy {
  background-image: url('/app/form/emojis/lazy.png');
}

.energetic {
  background-image: url('/app/form/emojis/energetic.png');
}

.drunk {
  background-image: url('/app/form/emojis/drunk.png');
}

.nervous{
  background-image: url('/app/form/emojis/nervous.png');
}

.tired {
  background-image: url('/app/form/emojis/tired.png');
}

.angry {
  background-image: url('/app/form/emojis/angry.png');
}

.sick {
  background-image: url('/app/form/emojis/sick.png');
}

.smug{
  background-image: url('/app/form/emojis/smug.png');
}

.emotes {
  margin-top: 23px;
  background: #d3d3d3;
  border-radius: 4px;
  padding-bottom: 11px;
  padding-left: 20px;
  border: 2px solid black;
}

/*.feeling {
  margin: auto;
  background-color: black;
  width: 40px;
  color: white;
}
*/

.feeling {
  border: 1px solid black;
  margin-top: 20px;
  margin: 20px auto auto auto;
  width: 80px;
  height: 80px;
  background-color: white;
  background-image: url('/app/form/emojis/happy.png');
  background-size: contain;
  transition: background-image 0.25s ease-in;
}

.feeling:hover {
  background-color: #d3d3d3;
  background-image: url('/app/form/emojis/nervous.png');
}

.feeling:active {
  background-image: url('/app/form/emojis/drunk.png');
}

.chosenEmotes {
  width: 335px;
  height: 44px;
  border-radius: 4px;
  background-color: #d3d3d3;
  border-radius: 2px solid dashed;
}
